MYSQL_ROOT_PASSWORD=admin123
MYSQL_DATABASE=wordpress
MYSQL_USER=wpuser
MYSQL_PASSWORD=admin123

WORDPRESS_DB_HOST=db
WORDPRESS_DB_USER=wpuser
WORDPRESS_DB_PASSWORD=admin123
WORDPRESS_DB_NAME=wordpress

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=admin123

REDIS_HOST=redisrd